

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* according to the internet, this should improves usage across different browsers */
}

body{
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px; /*this width similar to acc website, adjust across all bits later */
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    top:0;
    left:0;
    height: 100px;
    background-color: white;
    /*flex-direction: column; */
    padding: 0 40px; /*is this even needed????*/
    z-index: 1000; /*apparently this ensures it reamins on top-chcek this*/
}

.header-text {
    display: flex;
    flex-direction: column;
}

header img {
    width: 50px;
    height: auto;
    display: block;
    margin-bottom: 10px;

}



header h1{
font-size: 35px;
/*CHNAGE THIS SLIGHTLY TO THE LEFT AFTER*/
margin-top: 10px;
margin-bottom: 5px;

}

header h2 {
font-size: 27px;
margin-bottom:10px;
} 

.scrolling-accommodation-container {
position: fixed ;
display: flex;
overflow-x: auto;
width:100%;
gap: 20px;
background-color: white;
top:100px;
left: 0;
z-index: 999; /*apparently this keeps it below header */
padding: 20px;
}


.scrolling-accommodation-container::-webkit-scrollbar {
    display: none;
}

.item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 5px;
}
.item p {
    font-size: 14px;
}

main{
    margin-top:300px;
    margin-bottom: 200px;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    background-color: white;
    width: 100%;
    text-align: center;
}

